@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('Gilroy-SemiBold.eot');
  src: url('Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg'),
       url('Gilroy-SemiBold.ttf') format('truetype'),
       url('Gilroy-SemiBold.woff') format('woff'),
       url('Gilroy-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

