
@font-face {
    font-family: 'FuturaLTBold';
    src: url('../fonts/FuturaLTBold/FuturaLTBold.eot');
    src: url('../fonts/FuturaLTBold/FuturaLTBold.eot') format('embedded-opentype'),
         url('../fonts/FuturaLTBold/FuturaLTBold.woff2') format('woff2'),
         url('../fonts/FuturaLTBold/FuturaLTBold.woff') format('woff'),
         url('../fonts/FuturaLTBold/FuturaLTBold.ttf') format('truetype'),
         url('../fonts/FuturaLTBold/FuturaLTBold.svg#FuturaLTBold') format('svg');
}
@font-face {
    font-family: 'FuturaLTBoldOblique';
    src: url('../fonts/FuturaLTBoldOblique/FuturaLTBoldOblique.eot');
    src: url('../fonts/FuturaLTBoldOblique/FuturaLTBoldOblique.eot') format('embedded-opentype'),
         url('../fonts/FuturaLTBoldOblique/FuturaLTBoldOblique.woff2') format('woff2'),
         url('../fonts/FuturaLTBoldOblique/FuturaLTBoldOblique.woff') format('woff'),
         url('../fonts/FuturaLTBoldOblique/FuturaLTBoldOblique.ttf') format('truetype'),
         url('../fonts/FuturaLTBoldOblique/FuturaLTBoldOblique.svg#FuturaLTBoldOblique') format('svg');
}
@font-face {
    font-family: 'FuturaLTBook';
    src: url('../fonts/FuturaLTBook/FuturaLTBook.eot');
    src: url('../fonts/FuturaLTBook/FuturaLTBook.eot') format('embedded-opentype'),
         url('../fonts/FuturaLTBook/FuturaLTBook.woff2') format('woff2'),
         url('../fonts/FuturaLTBook/FuturaLTBook.woff') format('woff'),
         url('../fonts/FuturaLTBook/FuturaLTBook.ttf') format('truetype'),
         url('../fonts/FuturaLTBook/FuturaLTBook.svg#FuturaLTBook') format('svg');
}
@font-face {
    font-family: 'GillSansUltraBold';
    src: url('../fonts/GillSansUltraBold/GillSansUltraBold.eot');
    src: url('../fonts/GillSansUltraBold/GillSansUltraBold.eot') format('embedded-opentype'), 
    url('../fonts/GillSansUltraBold/GillSansUltraBold.woff2') format('woff2'), 
    url('../fonts/GillSansUltraBold/GillSansUltraBold.woff') format('woff'), 
    url('fonts/GillSansUltraBold.ttf') format('truetype'), 
    url('fonts/GillSansUltraBold.svg#GillSansUltraBold') format('svg');
}
